<div ng-controller='LinksController' id='container'>
  <h2>LINKS GET YOUR LINKS HERE</h2>
  Search: <input ng-model="searchText">
  <a href='#/shorten'>"Shorten" a new url</a>
  <table class="table-hover table-striped">
    <tr>
      <th style="width:40%">Title</th>
      <th style="width:20%"><img src='/assets/long_link.png' width='20px'>Long Link</th>
      <th style="width:20%"><img src='/assets/short_link.png' width='20px'>Short Link</th>
      <th style="width:10%">Visits</th>
    </tr>
    <tr class='fx-fade-right fx-speed-300 fx-easing-sine' ng-repeat='link in data.links | filter:{title: searchText}'>
      <td>{{ link.title }}</td>
      <td>{{ link.url }}</td>
      <td>{{ link.base_url }}/api/links/{{ link.code }}</td>
      <td>{{ link.visits }}</td>
    </tr>
  </table>
  <br>
</div>

<!--
 visits: Number,
 link: String,
 title: String,
 code: String,
 base_url: String,
 url: String
-->
