<div ng-controller='LinksController' id='container'>
  <h2>LINKS GET YOUR LINKS HERE</h2>
  Search: <input ng-model="searchText">
  <table>
    <tr>
      <th>Title</th>
      <th>Address</th>
      <th>Shortlynk</th>
      <th>Visits</th>
    </tr>
    <tr ng-repeat='link in data.links | orderBy:"visits":true | filter:{title: searchText}'>
      <td>{{ link.title }}</td>
      <td>{{ link.url }}</td>
      <td>{{ link.base_url }}/api/links/{{ link.code }}</td>
      <td>{{ link.visits }}</td>
    </tr>
  </table>
  <br>
  <a href='#/shorten'>"Shorten" a new url</a>
</div>


<!--
 visits: Number,
 link: String,
 title: String,
 code: String,
 base_url: String,
 url: String
-->
